<!doctype html>
<html lang="de">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css">
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

            <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>


        <div class="bg-loader row align-items-center justify-content-center">
           <div class="loader">loading...</div> 
        </div>
        
        <div class="bg" data-background="/static/images/backgrounds/shopping.jpg">
            
        </div>

        <div class="container">
            <header class="catalog-header py-3">
                <div class="row  align-items-center">
                    <div class="col-8">
                    <h1>
                        <a class="text-light rounded bg-dark nounderline px-2 py-1" href="{{url_for('home')}}">CATALOG</a>
                    </h1>

                    </div>
                    <div class="col-4 text-right">
                     
                    {% if app.securityManager.isLoggedIn() %}
                    <div class="text-white bg-dark p-2">
                      {{ app.securityManager.getAuthenticatedUser().email }}
                    </div>
                      <a href="{{url_for('logout')}}" class="btn btn-secondary text-light bg-dark">Logout</a>
                    {% else %}
                      <a href="{{url_for('register')}}" class="btn btn-secondary text-light bg-dark">Register</a>
                      <a href="{{url_for('login')}}" class="btn btn-secondary text-light bg-dark">Login</a>
                    {% endif %}
                    </div>
                </div>
            </header>
            <main class="bg-light rounded shadow-main p-4">

              <div class = 'flash-messages'>
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                         <div class="alert alert-{{ category }}" role="alert">
                              {{ message }} 
                        </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>

                {% block content %}

                {% endblock %}
            </main>
        </div>
        <footer class="container-fluid">
            <div class="catalog-categories">

                    <h2 class="text-center">
                        <a class="text-light rounded bg-dark nounderline px-2 py-1" href="{{url_for('home')}}">Categories</a>
                    </h2>
                    <div class="cards">
            {% for category in catalogCategories() %}
              
                 <div class="card category m-1">
                    <a href="{{url_for('showCatalog',id=1)}}" 
                      class="nounderline text-dark" 

                      {% if category.background %}
                      data-background="/static/images/backgrounds/{{category.background}}"
                      {% endif %}
                      >

                      <div class="card-body">
                            {{category.name}}
                      </div>
                      <div class="card-body hover">
                        SEE NOW
                      </div>
                    </a>
                </div>


                {% endfor %}
                <div>
            </div>
        </footer>
        {% block javascript %}

        {% endblock %}
    </body>
</html>