{% extends "base.html" %}

{% block content %}
	
	<h2>Create a new Item</h2>

	<form action="" method="POST" >

	 {{form.hidden_tag()}} <!-- ## adds a csrf token  -->

	  <div class="form-group row">
	    {{ form.name.label(class="col-sm-5 col-form-label") }}
	    <div class="col-sm-7">
		    {% if form.name.errors %}
				{{ form.name(class="form-control is-invalid") }}
				 <div class="invalid-feedback">
		          	{% for error in form.name.errors %}
		          		{{error}}
		          	{% endfor %}
		        </div>
		    {% else %}
		    	{{ form.name(class="form-control") }}
			{% endif %}	
		</div>
	  </div>

	  <div class="form-group row">
	    {{ form.description.label(class="col-sm-5 col-form-label") }}
	    <div class="col-sm-7">
		    {% if form.description.errors %}
				{{ form.description(class="form-control is-invalid") }}
				 <div class="invalid-feedback">
		          	{% for error in form.description.errors %}
		          		{{error}}
		          	{% endfor %}
		        </div>
		    {% else %}
		    	{{ form.description(class="form-control") }}
			{% endif %}	
		</div>
	  </div>

	  <div class="form-group row">
	    {{ form.category_id.label(class="col-sm-5 col-form-label") }}
	    <div class="col-sm-7">
		    {% if form.category_id.errors %}
				{{ form.category_id(class="form-control is-invalid") }}
				 <div class="invalid-feedback">
		          	{% for error in form.category_id.errors %}
		          		{{error}}
		          	{% endfor %}
		        </div>
		    {% else %}
		    	{{ form.category_id(class="form-control") }}
			{% endif %}	
		</div>
	  </div>
	  {{ form.submit(class="btn btn-primary") }}
	</form>

{% endblock %}